{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock %}

{% block sidenav %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
       <div class="col-3">

    {% block contenttitle %}
        <br><br><br><br><br><h2 class="mt-2">Login</h2>
        <hr class="mt-0 mb-4">
    {% endblock %}

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <br>
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>

            <br><br><button type="submit" class="btn btn-primary" value="login">Login</button>
            &nbsp<a href="/" class="btn btn-secondary">Back to Homepage</a>
            <input type="hidden" name="next" value="{{ next }}">

        </form>

          <br><br><hr class="mt-0 mb-4">
          Don't have an account? <a href='register/'>Sign Up</a>

        </div>
    </div>

{% endblock %}
