{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block contenttitle %}
<br><br><br><h2 class="mt-2">Create An Account</h2>
<hr class="mt-0 mb-4">
{% endblock %}

{% block content %}
      <form class="form-group" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success">Register</button>
          <a href="/" class="btn btn-secondary">Back to Homepage</a>
      </form>

{% endblock %}

{% block sidenav %}
{% endblock %}
