{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <div class="row justify-content-center">
     <div class="col-5">

      {% block contenttitle %}
      <h2 class="mt-2">Create An Account</h2>
      <hr class="mt-0 mb-4">
      {% endblock %}

      <form class="form-group" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <br><br><button type="submit" class="btn btn-success">Register</button>
          <a href="{% url 'main-home' %}" class="btn btn-secondary">Back to Homepage</a>
      </form>

     </div>
  </div>
{% endblock %}

{% block sidenav %}
{% endblock %}
